* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

:root {
  /* BG COLOR    */
  --bg-primary-color: #0c0c0c;
  --bg-fill-color: #fdfdfc;
  /* --snake-head-color: #bd5454; */
  --bg-food-color: #ff3b3b;

  /* text color  */
  --text-primary-color: #f0f0f0;

  /* spacing variables */
  --space-xs: 4px;
  --space-s: 8px;
  --space-md: 16px;
  --space-l: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;

  /* Border color */
  --border-primary-color: #333333;

  /* Border radius */
  --border-radius-xs: 4px;
  --border-radius-s: 8px;
  --border-radius-md: 12px;
  --border-radius-l: 16px;
  --border-radius-xl: 20px;
  --border-radius-2xl: 24px;
}
html {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);

  /* font  */
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
main,
section {
  width: 100%;
  height: 100%;
}

.btn {
  padding: var(--space-s) var(--space-md);
  border: none;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1.1);
}

section {
  padding: var(--space-2xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}
section .infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info {
  padding: var(--space-s) var(--space-md);
  border: 1px solid var(--border-primary-color);
  border-radius: var(--border-radius-s);
}

.board {
  border: 1px solid var(--border-primary-color);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

.block {
  border: 1px solid var(--border-primary-color);
  border-radius: 50%;
}
.fill {
  background-color: var(--bg-fill-color);
}
.head {
  background-color: burlywood;
}

/* .snakeHead {
  background-color: var(--snake-head-color);
} */

.food {
  background-color: var(--bg-food-color);
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #5d5b5b4f;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .start-game,
.modal .restart-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-l);
}

.modal .restart-game {
  display: none;
}
